In [1]:
#first import pandas library to convert dataset into dataframe
import pandas as pd
df=pd.read_csv("C:/Users/92309/Desktop/Machine Learning Projects/Linear Regression Projects/house price prediction/dataset/Housing.csv")
df.head(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [2]:
#first check all coloumns missing values
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [3]:
#now check the datatypes of all coloumns 
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [4]:
#convert all object datatypes to integer by applying label encoder
df=df.replace({'yes':1,'no':0,'furnished' : 0 , 'semi-furnished' : 1, 'unfurnished' : 2})
df.dtypes

price               int64
area                int64
bedrooms            int64
bathrooms           int64
stories             int64
mainroad            int64
guestroom           int64
basement            int64
hotwaterheating     int64
airconditioning     int64
parking             int64
prefarea            int64
furnishingstatus    int64
dtype: object

In [6]:
#now all object types coloumn converted into numerical and now split data set to input feature and target values
X=df.drop('price',axis=1)
y=df['price']
#also check X and y shape both have same rows
print(X.shape)
print(y.shape)

(545, 12)
(545,)

In [7]:
#now import linear regression model and train test split function or r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [8]:
#split the data set into test and 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
#also check the shape of X_train samples and y_train samples both are same
print(X_train.shape)
print(y_train.shape)

(436, 12)
(436,)

In [9]:
#now load model train and predict AND find r2 score 
regresson=LinearRegression()
regresson.fit(X_train,y_train)
print("model is trained completly ")

model is trained completly

In [11]:
y_pred=regresson.predict(X_test)
r2=r2_score(y_test,y_pred)
print("R2 score of this Model by using Linear Regression is : ",r2)

R2 score of this Model by using Linear Regression is :  0.6494754192267804

In [13]:
#same process do with ridge type linear regression 
from sklearn.linear_model import Ridge
ridge=Ridge()
ridge.fit(X_train,y_train)
print("model is trained completly ")
y_pred_ridge=ridge.predict(X_test)
r2_ridge=r2_score(y_test,y_pred)
print("R2 score of this Model by using Ridge Linear Regression L2 is : ",r2_ridge)

model is trained completly
R2 score of this Model by using Ridge Linear Regression L2 is :  0.6494754192267804

In [14]:
#same process do with lasso type linear regression 
from sklearn.linear_model import Lasso
lasso=Lasso()
lasso.fit(X_train,y_train)
print("model is trained completly ")
y_pred_lasso=lasso.predict(X_test)
r2_lasso=r2_score(y_test,y_pred)
print("R2 score of this Model by using Lasso Linear Regression L1 is : ",r2_lasso)

model is trained completly
R2 score of this Model by using Lasso Linear Regression L1 is :  0.6494754192267804